<div *ngIf="!expire">
<header>
  <h1>Interview Form</h1>
</header>
<div *ngIf="interview?.type === 'HR'">
  <app-hr-interview [interview]="interview"></app-hr-interview>
</div>
<div *ngIf="interview?.type === 'TECH'">
  <app-tech-interview [interview]="interview"></app-tech-interview>
</div>
<div *ngIf="interview?.type === 'ASSESSMENT'">
  <app-iq-assessment [interview]="interview"></app-iq-assessment>
</div>
</div>
<div>
  <mat-card  *ngIf="expire" class="expire">
    <h1>Submission Completed</h1>
  </mat-card>
</div>
