.button-row button,
.button-row {
  margin-right: 15px;
  width: 100px;
  height:100px;
  font-size:12px;
}

.button-row1 button,
.button-row1 {
  width: 100px;
  height: 100px;
  font-size:12px;
  margin-left: 100px;
}

.button-row2 button,
.button-row2 {
  width: 100px;
  height: 100px;
  font-size:12px;
  margin-top:30px;
}

.button-row3 button,
.button-row3 {
  width: 100px;
  height: 100px;
  font-size:12px;
  margin-left: 120px;
}

