<div>
  <button mat-fab class="button-row" (click)="onClickRedirect()" color="primary" matBadge="8" matBadgePosition="before"
    matBadgeColor="accent">Active Jobs</button>

  <button mat-fab color="primary" class="button-row1" (click)="OnClickGoTo()" matBadge="{{todaysInterview}}" matBadgePosition="before"
    matBadgeColor="accent">Today's Interview</button>
</div>

<div>
  <button mat-fab color="primary" class="button-row2" (click)="OnClickGoToCandidate()" matBadge="{{noOfCandidate}}"
    matBadgePosition="before" matBadgeColor="accent">No. of Candidate</button>


  <button mat-fab color="primary" class="button-row3" (click)="OnClickGoTo()" matBadge="8" matBadgePosition="before"
    matBadgeColor="accent">Work Completion</button>
</div>

<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

</div>
