
<mat-card style="background-color: rgba(160, 187, 206, 0.596);">
<div class="jobsearch" style="color: #801638; font-weight: bold">
<h6 style="font-family: Georgia, serif;">Job Title:</h6> &nbsp; &nbsp; &nbsp;

<mat-form-field name = "pipeline">
    <mat-select  [(ngModel)]="selected" (ngModelChange)="changeView()">
      <mat-option style="color: #801638; font-weight: bold;font-family: Georgia, serif;" *ngFor="let job of jobs" [value]="job.id">{{ job.id }} &nbsp; {{job.name}}</mat-option>
    </mat-select>
  </mat-form-field>

<br><br>
</div>

<mat-tab-group class="group1">
    <mat-tab style="font-family: Georgia, serif;" label="Suggestion">
        <div class="row">
        <app-pipeline-candidate class="col-md-5" [candidate]="candidate" *ngFor="let candidate of suggestedCandidates"></app-pipeline-candidate>
      </div>
      </mat-tab>
  <mat-tab style="font-family: Georgia, serif;" label="Applied">
    <div class="row">
    <app-pipeline-candidate class="col-md-5" [selected]="selected" [candidate]="candidate" *ngFor="let candidate of candidatesApplied"></app-pipeline-candidate>
  </div>
  </mat-tab>
  <mat-tab style="font-family: Georgia, serif;" label="Schedule Interview">
    <div class="row">
      <app-pipeline-candidate class="col-md-5" [selected]="selected" [candidate]="candidate" *ngFor="let candidate of candidatesInterviewScheduled"></app-pipeline-candidate>
    </div>
  </mat-tab>
  <mat-tab style="font-family: Georgia, serif;" label="Interview in Progress">
    <div class="row">
      <app-pipeline-candidate class="col-md-5" [selected]="selected" [candidate]="candidate" *ngFor="let candidate of candidatesInterviewInProgress"></app-pipeline-candidate>
    </div>
  </mat-tab>
  <mat-tab style="font-family: Georgia, serif;" label="Selected">
      <div class="row">
      <app-pipeline-candidate class="col-md-5" [selected]="selected" [candidate]="candidate" *ngFor="let candidate of candidatesCompleted"></app-pipeline-candidate>
  </div>
    </mat-tab>
  <mat-tab style="font-family: Georgia, serif;" label="Rejected">
    <div class="row">
      <app-pipeline-candidate class="col-md-5" [candidate]="candidate" *ngFor="let candidate of candidatesRejected"></app-pipeline-candidate>
    </div>
  </mat-tab>
</mat-tab-group>
</mat-card>
