.jobsearch{
  text-align: center;
  font-weight: bold;
}

.group1{
  -webkit-text-fill-color: #801638;
   font-weight: bold;
}

mat-grid-tile{
  width: 25%;
}

.col-md-5 {
  margin: 10px;
  padding: 10px;
}
