<mat-card style="background-color: rgba(160, 187, 206, 0.596);">
  <form #register="ngForm" (ngSubmit)="registerHR(register)" class="example-form">
    <h2 class="mb-3" style="-webkit-text-fill-color: #801638; font-weight: bold">Register HR</h2>

    <mat-form-field class="form-group">
        <input style="font-family: Georgia, serif;" matInput type="text" placeholder="Employee Id:" minlength="5" maxlength="20" required ngModel  name="employeeId" #employeeId="ngModel"/>
        <mat-error *ngIf="employeeId.touched && !employeeId.valid" class="text-danger">
          Field is required (characters should be between 5 and 20).
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <input style="font-family: Georgia, serif;" matInput type="text" placeholder="Employee Name:" minlength="5" maxlength="20" required ngModel  name="employeeName" #employeeName="ngModel"/>
      <mat-error *ngIf="employeeId.touched && !employeeId.valid" class="text-danger">
        Field is required (characters should be between 5 and 20).
      </mat-error>
  </mat-form-field>

  <mat-form-field class="form-group">
    <input style="font-family: Georgia, serif;" matInput type="text" placeholder="Employee Password:" minlength="5" maxlength="20" required ngModel  name="employeePassword" #employeePassword="ngModel"/>
    <mat-error *ngIf="employeeId.touched && !employeeId.valid" class="text-danger">
      Field is required (characters should be between 5 and 20).
    </mat-error>
</mat-form-field>

  <div class="center-button">
  <input type="submit" class="btn btn-primary" value="submit">
  </div>

  </form>
</mat-card>


