<mat-tab-group>
  <mat-tab label="Call">
    Candidate Phone: {{phone}}<br />
    <mat-form-field>
      <textarea rows="4" cols="50" matInput [(ngModel)]="comment" placeholder="Write your comment"></textarea>
    </mat-form-field>
    <br />
    <button mat-button (click)="onContactSubmit()">Save</button>
  </mat-tab>
  <mat-tab label="mail">
    From : {{user}} <br />
    To : {{email}} <br />
    <div *ngIf="is_meeting">
    <mat-form-field class="form-group">
      <input matInput placeholder="In how many weeks time" required [(ngModel)]="start" name="start" #jobName="ngModel"
        type="number" />
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput placeholder="Duration" required [(ngModel)]="duration" name="duration" type="number" />
    </mat-form-field>
    <button mat-button (click)="check()">Check</button>
        <mat-radio-group [(ngModel)]="selectedDate" >
            <mat-radio-button [value]="dateTime"*ngFor="let dateTime of suggestedDateTimes" required>{{dateTime.start}}</mat-radio-button>
          </mat-radio-group>

  </div>
    <mat-form-field>
      <mat-select placeholder="E-mail type" name="mail">
        <mat-option *ngFor="let mail of mails" [value]="mail.value" (click)="updateSelected($event, mail.value, mail.body)">
          {{mail.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <textarea rows="4" cols="50" matInput [(ngModel)]="comment" placeholder="e-mail body" [value]="selectedValue"></textarea>
    </mat-form-field>
    <br />
    <button mat-button (click)="onMailSubmit()">Save</button>
  </mat-tab>
  <mat-tab label="others">
    <mat-form-field>
      <input matInput placeholder="method" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <textarea rows="4" cols="50" matInput [(ngModel)]="comment" placeholder="e-mail body" [value]="selectedValue">{{selectedValue}}</textarea>
    </mat-form-field>
    <br />
    <button mat-button [mat-dialog-close]="other">Save</button>
  </mat-tab>
</mat-tab-group>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
