<mat-tab-group>
  <mat-tab label="Call">
    Candidate Phone: {{phone}}<br />
    <mat-form-field>
      <textarea rows="4" cols="50" matInput [(ngModel)]="comment" required minlength="5" maxlength="70" name="comment" placeholder="Write your comment" ></textarea>
      <mat-error *ngIf="!comment" class="text-danger">
        Field is required (characters should be between 5 and 30).
      </mat-error>
    </mat-form-field>
    <br/>
    <br/>
    <mat-radio-group class="example-radio-group" [(ngModel)]="changeStatus">
        <mat-radio-button value="CHANGE">Change Status</mat-radio-button>
        <mat-radio-button value="REJECT">Reject Candidate</mat-radio-button>
        <mat-radio-button value="NOTHING" focus="focus">Do Nothing</mat-radio-button>
    </mat-radio-group>
    <br/>
    <button mat-button (click)="onContactSubmit()">Save</button>
  </mat-tab>
  <mat-tab label="Mail">
    From : {{user}} <br />
    To : {{email}} <br />
    <div *ngIf="is_meeting">
    <mat-form-field class="form-group">
      <input matInput placeholder="In how many weeks time" required min="1" [(ngModel)]="start" name="start" #jobName="ngModel"
        type="number" />
        <mat-error *ngIf="!start" class="text-danger">
          Field is required (number should not be less than 1).
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput placeholder="Duration" required [(ngModel)]="duration" min="1" name="duration" type="number" />
    </mat-form-field>
    <button mat-button (click)="check()">Check</button>
        <mat-radio-group [(ngModel)]="selectedDate" >
            <mat-radio-button  [value]="dateTime"*ngFor="let dateTime of suggestedDateTimes" required>{{dateTime.start | date:'medium'}}</mat-radio-button>
          </mat-radio-group>

  </div>
    <mat-form-field>
      <mat-select placeholder="E-mail type" name="mail">
        <mat-option *ngFor="let mail of mails" [value]="mail.value" (click)="updateSelected($event, mail.value, mail.body)">
          {{mail.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <textarea rows="4" cols="50" matInput [(ngModel)]="comment" required minlength="5" maxlength="70" placeholder="e-mail body" [value]="selectedValue"></textarea>
      <mat-error *ngIf="!comment" class="text-danger">
        Field is required (characters should be between 5 and 30).
      </mat-error>
    </mat-form-field>
    <br/>
    <br/>
    <mat-radio-group class="example-radio-group" [(ngModel)]="changeStatus">
      <mat-radio-button value="CHANGE">Change Status</mat-radio-button>
      <mat-radio-button value="REJECT">Reject Candidate</mat-radio-button>
      <mat-radio-button value="NOTHING" focus>Do Nothing</mat-radio-button>
    </mat-radio-group>
    <br />
    <button mat-button (click)="onMailSubmit()">Save</button>
  </mat-tab>
  <mat-tab label="Others">
    <mat-form-field>
      <input matInput placeholder="method" [(ngModel)]="method" required minlength="5" maxlength="30"/>
      <mat-error *ngIf="!method" class="text-danger">
        Field is required (characters should be between 5 and 30).
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <textarea rows="4" cols="50" matInput [(ngModel)]="comment" required minlength="5" maxlength="70" placeholder="Comment" [value]="selectedValue">{{selectedValue}}</textarea>
      <mat-error *ngIf="!comment" class="text-danger">
        Field is required (characters should be between 5 and 30).
      </mat-error>
    </mat-form-field>
    <br />
    <br/>
    <mat-radio-group class="example-radio-group" [(ngModel)]="changeStatus">
      <mat-radio-button value="CHANGE">Change Status</mat-radio-button>
      <mat-radio-button value="REJECT">Reject Candidate</mat-radio-button>
      <mat-radio-button value="NOTHING" focus>Do Nothing</mat-radio-button>
    </mat-radio-group>
    <br/>
    <button mat-button [mat-dialog-close]="other">Save</button>
  </mat-tab>
</mat-tab-group>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
