<mat-tab-group>
    <mat-tab label="Call">
      Candidate Phone: {{phone}}<br/>
      <mat-form-field>
          <textarea rows="4" cols="50" matInput [(ngModel)]="comment" placeholder="Write your comment"></textarea>
        </mat-form-field>
        <br/>
        <button mat-button [mat-dialog-close]="true">Save</button>
    </mat-tab>
    <mat-tab label="mail">
      From : {{user}} <br/>
      To : {{email}} <br/>

              <mat-form-field>
                <mat-select placeholder="E-mail type" [(ngModel)]="selectedValue" name="mail">
                  <mat-option *ngFor="let mail of mails" [value]="mail.body">
                    {{mail.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br/>
              <mat-form-field>
          <textarea rows="4" cols="50" matInput [(ngModel)]="comment" placeholder="e-mail body" [value]="selectedValue">{{selectedValue}}</textarea>
        </mat-form-field>
        <br/>
        <button mat-button [mat-dialog-close]="true">Save</button>
    </mat-tab>
    <mat-tab  label="others">
      <mat-form-field>
          <input matInput placeholder="method"/>
      </mat-form-field>
      <br/>
        <mat-form-field>
            <textarea rows="4" cols="50" matInput [(ngModel)]="comment" placeholder="e-mail body" [value]="selectedValue">{{selectedValue}}</textarea>
          </mat-form-field>
          <br/>
          <button mat-button [mat-dialog-close]="true">Save</button>
    </mat-tab>
  </mat-tab-group>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
