<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create a new Job</title>
</head>
<body>
  <form #createJobForm="ngForm" (ngSubmit)="createJob(createJobForm)" class="example-form">
    <h2 class="mb-3">Create a new job</h2>

    <mat-form-field class="form-group">
        <input matInput placeholder="Job Name" required ngModel name="jobName" #jobName="ngModel"  type="text" class="form-control"/>
        <div class="alert alert-danger" *ngIf="jobName.touched && !jobName.valid">Job Name is required</div>
    </mat-form-field>

    <mat-form-field class="form-group">
        <input matInput placeholder="Position" required ngModel name="position" #position="ngModel"  id="position" type="text" class="form-control"/>
        <div class="alert alert-danger" *ngIf="position.touched && !position.valid">Position of job is required</div>
      </mat-form-field>

    <mat-form-field class="form-group">
        <input matInput placeholder="Location" required ngModel name="location" #location="ngModel"  id="location" type="text" class="form-control"/>
        <div class="alert alert-danger" *ngIf="location.touched && !location.valid">Location of job is required</div>
      </mat-form-field>

    <mat-form-field class="form-group">
      <input matInput placeholder="Number of vacancy" required ngModel name="noOfVacancy" #number="ngModel"  type="number"/><br>
      <div class="alert alert-danger" *ngIf="number.touched && !number.valid">Number of job vacancy is required</div>
    </mat-form-field>

    <mat-form-field class="form-group">
      <input matInput [matDatepicker]="picker1" placeholder="Choose a Creation Date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-group">
      <input matInput [matDatepicker]="picker" placeholder="Choose a Closing Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-group">
        <input matInput placeholder="Field" required ngModel name="field" #field="ngModel"  id="field" type="text" class="form-control"/>
        <div class="alert alert-danger" *ngIf="field.touched && !field.valid">Field of job is required</div>
    </mat-form-field>

    <mat-form-field class="form-group">
        <input matInput placeholder="Assign To" required ngModel name="assignTo" #assignTo="ngModel"  id="assignTo" type="text" class="form-control"/>
        <div class="alert alert-danger" *ngIf="assignTo.touched && !assignTo.valid">Assigning Job is required</div>
    </mat-form-field>

    <mat-form-field class="form-group">
        <input matInput placeholder="Requirements" required ngModel name="requirements" #requirements="ngModel"  id="requirements" type="text" class="form-control"/>
        <div class="alert alert-danger" *ngIf="requirements.touched && !requirements.valid">Requirements of Job is required</div>
    </mat-form-field>

    <div class="center-button">
    <label>Assessment File: </label>
    <input ngModel type="file" name="file" (change)="onUpload($event)"><br><br>
    <input type="submit" class="btn btn-primary" value="submit">
    </div>

    </form>
</body>
</html>
