
<mat-card style="background-color: rgba(160, 187, 206, 0.596);">
<h2 class="mb-3" style="-webkit-text-fill-color: #801638">Add a job</h2>
<form [formGroup]="myForm" novalidate (ngSubmit)="createJob(myForm)">
  <mat-form-field class="form-group">
    <input style="font-family: Georgia, serif;" matInput type="text" placeholder="Project Name" formControlName="projectName">
    <mat-error *ngIf="!myForm.controls.projectName.valid && myForm.controls.projectName.touched" class="text-danger">
      Field is required (characters should be between 5 and 20).
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-group">
    <input style="font-family: Georgia, serif;" matInput type="text" placeholder="Position" formControlName="position">
    <mat-error *ngIf="!myForm.controls.position.valid && myForm.controls.position.touched" class="text-danger">
      Field is required (characters should be between 5 and 20).
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-group">
    <input style="font-family: Georgia, serif;" matInput type="text" placeholder="Location" formControlName="location">
    <mat-error *ngIf="!myForm.controls.location.valid && myForm.controls.location.touched" class="text-danger">
      Field is required (characters should be between 5 and 20).
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-group">
    <input style="font-family: Georgia, serif;" matInput type="number" min="1" placeholder="No. Of Vecancy" formControlName="noOfVacancy">
    <mat-error *ngIf="!myForm.controls.location.valid && myForm.controls.location.touched" class="text-danger">
      Field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-group">
    <input style="font-family: Georgia, serif;" matInput [matDatepicker]="picker1" [min]="minDate" [max]="maxDate" placeholder="Closing Date" formControlName="closingDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <mat-error *ngIf="!myForm.controls.closingDate.valid && myForm.controls.closingDate.touched" class="text-danger">
      Field is required
    </mat-error>
  </mat-form-field>

  <div formArrayName="assignTos" *ngFor="let assignee of myForm.controls.assignTos.controls; let j=index" class="col-md-6">
    <div [formGroupName]="j">
      <mat-form-field class="form-group" style="padding-right:0px">
        <input style="font-family: Georgia, serif;" type="text" matInput placeholder="assignTo" formControlName="assignTo">
      </mat-form-field>

    </div>
    <button type="button" class="btn btn-primary" *ngIf="(myForm.controls.assignTos.controls.length > 1) && (j == myForm.controls.assignTos.controls.length-1)"
      (click)="removeAssignTo(j)" style="cursor: pointer; float: right">Remove Assignee</button>
    <button type="button" class="btn btn-primary" (click)="addAssignTo()" *ngIf="j == myForm.controls.assignTos.controls.length-1"
      style="float: right">Add Assignee</button>
  </div>
  <br/><br/>
  <div formArrayName="requirements" *ngFor="let req of myForm.controls.requirements.controls; let i=index" class="col-md-6">
    <div [formGroupName]="i">
      <mat-form-field class="form-group" style="padding-right:0px">
        <input style="font-family: Georgia, serif;" type="text" matInput placeholder="Requirement" formControlName="requirement">
        <mat-error *ngIf="!myForm.controls.requirements.valid && myForm.controls.requirements.touched" class="text-danger">
          Field is required (characters should be between 3 and 20).
        </mat-error>
      </mat-form-field>

    </div>
    <button type="button" class="btn btn-primary" *ngIf="(myForm.controls.requirements.controls.length > 1) && (i == myForm.controls.requirements.controls.length-1)"
      (click)="removeRequirement(i)" style="cursor: pointer; float: right">Remove Requirement</button>
    <button type="button" class="btn btn-primary" *ngIf="i == myForm.controls.requirements.controls.length-1" (click)="addRequirement()"
      style="float: right">Add Requirement</button>
  </div>
  <br/><br/>
  <div>
  <input type="file" style="display: none" #fileInput accept=".xlsx" name="file" (change)="onUpload($event)">
  <button mat-stroked-button color="primary" (click)="fileInput.click()">Select Assessment File</button>
  <button mat-stroked-button color="primary" (click)="uploadCandidate()">Upload!!!</button>
  Or
  <mat-form-field>
      <mat-select placeholder="Search Quiz" [(value)]="selected">
        <mat-option>Not selected</mat-option>
        <mat-option *ngFor="let quiz of updateQuizs" [value]="quiz">
          {{quiz.quizName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>


  <input style="font-family: Georgia, serif;" type="submit" class="btn btn-primary" value="submit">
</form>
</mat-card>
