.center-button{
  text-align:center
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-group {
  width: 100%;
  -webkit-text-fill-color:#801638;
  font-weight: bold;
}

.mb-3 {
  font-weight: bold;
}
