mat-card{
  font-family: 'Times New Roman', sans-serif;
}

h2{
  font-size: 24px;

}

h3{
  font-size: 20px;
}

.header{
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header1{

  flex: 50%;
  text-align: center;

  img{
    width: auto;
    height: 100px;
    transform: translateY(30px);
  }

  h3{
    padding: 20px;
    transform: translateY(20px);
  }

  bar-rating{
    display: inline-block;
  }
}

.header2{
  flex: 50%;
  justify-content: center;
  text-align: center;

h2 {
  text-align: center;
  font-size: 24px;
  mat-icon{
    font-size: 18px;
  }
}
  .column1{
    display: inline-block;
    left: 0px;
    width: 50%;
   padding-bottom: 5px;
   padding-left: 10px;
   font-size: 16px;
   font-weight: bold;
   text-align: left;

   mat-icon{
     font-size: 14px;
   }
  }
  .column2{
    display: inline-block;
    right: 0px;
    width: 50%;
    color: rgb(129, 129, 122);
    font-size: 14px;
    text-align: left;
  }

  button{
    text-align: center;
    margin: 1%;
  }
}

#content{
  display: flex;

  #content1{
    display: inline-block;
    width: 58%;
    margin-right: 2%;

    #coverLetter{
      display: block;
      height: 200px;
      margin-bottom: 10px;
    }

    #rating{
      width: 100%;
      display: flex;
      #hr-int,#tec-int,#iq-int{
        width: 32%;
        margin-bottom: 10px;

        h4{
          text-align: center;
          font-size: 18px;
          font-weight: bold;
        }

        mat-card-title{
          height: 50px;
        }

        mat-card-content{
          position: relative;
          mat-progress-spinner{
            width: auto;
            margin-top: 50%;
            margin-left: 50%;
            transform: translate(-50%,-50%);
          }

          span{
            position: absolute;
            left: 50%;
            top: -50%;
            transform: translate(-50%,100%);
            font-weight: bold;
            font-size: 18px;
          }

          button{
            position: absolute;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }

      }

      #hr-int,#iq-int{
        margin-left: 1%;
        margin-right: 1%;
      }
    }
  }

  #feedback {
    display: inline-block;
    width: 40%;
    right: 0;
    height: fit-content;
  }

}

@media (max-width: 992px){

  .header2{
    button{
      padding: 0%;
      margin: 1px;
    }
  }
}

@media (max-width: 768px){
  .header{
    width: 100%;
    display: table;
  }
  .header1{
    display: table-row;
  }

  .header2{
    display: table-row;

    button{
      padding: 0%;
      margin: 1px;
    }
  }

  #content{
    display: block;

    #feedback,#content1{
      width: 100%;
      display: block;
    }
  }

}

