<div class="row justify-content-center">
  <div class="col-lg-4 col-md-5 col-sm-5">
      <form #login="ngForm" (ngSubmit)="Login(login)" >

          <h1>Login</h1>

          <!-- username field -->
          <div class="form-group">
            <input
              ngModel
              type="text"
              name="employeeId"
              class="form-control form-control-sm"
              placeholder="Enter Username"
              #username="ngModel"
              required>
            <p class="text-danger px-1" *ngIf="username.touched && !username.valid">username is required</p>
          </div>

          <!-- password field -->
          <div class="form-group">
            <input
              ngModel
              type="password"
              name="employeePassword"
              class="form-control form-control-sm"
              placeholder="Enter Password"
              #password="ngModel"
              required>
            <p class="text-danger px-1" *ngIf="password.touched && !password.valid">password is required</p>
          </div>

          <button type="submit" class="btn btn-dark btn-block" >Login</button>
          <!--<p class="loginFailed" *ngIf="!isLoginSuccessfull">Invalid Credentials</p>-->
          <div class="spinner">
            <i class="fa fa-spinner fa-spin" *ngIf="spinner"></i>
          </div>
        </form>
  </div>
</div>
