<div id="interviewInfo">
    <mat-card>
      <span>Interviewer: {{interview.interviewer}} </span>
      <span>Job: {{interview.jobName}} </span>
    </mat-card>
    <mat-card>
        <form [formGroup]="questionForm"  (ngSubmit)="save(questionForm)">
      <table border="1">
        <thead>
          <tr>
            <th>No.</th>
            <th>Question</th>
            <th>0</th>
            <th>5</th>
            <th>10</th>
            <th>Comment</th>

          </tr>
        </thead>
          <tbody formArrayName="questions">
        <tr *ngFor="let question of questionForm.controls.questions.controls; let i = index" [formGroupName]="i">
          <td>
            {{i+1}}
          </td>
          <td>
            {{questions[i].question}}
          </td>
          <td><input type="radio" value="0" formControlName="point" ></td>
          <td><input type="radio" value="5" formControlName="point"></td>
          <td><input type="radio" value="10" formControlName="point"></td>
          <td>
            <input type="text" formControlName="comment">
          </td>
        </tr>
        </tbody>
        <tr ><td colspan="3">
          <label>Feedback</label>
          </td>
          <td colspan="3">
          <textarea formControlName="feedback"></textarea>
        </td>
      </tr>
        <tr ><td colspan="6">
          <button type="submit" [disabled]="!questionForm.valid">Submit</button></td>
        </tr>
      </table>
      </form>
    </mat-card>
    </div>
    <div id="candidateProfile">
      <app-candidate-profile [candidate]="candidate"></app-candidate-profile>
    </div>
