#interviewInfo{
  width: 50%;
  float: left;
}

#candidateProfile{
  width: 50%;
  float: right;
  ::ng-deep {
    .header{
      width: 100%;
      display: table;
    }
    .header1{
      display: table-row;
    }

    .header2{
      display: table-row;

      button{
        padding: 0%;
        margin: 1px;
      }
    }
    #content{
      display: block;

      #feedback,#content1{
        width: 100%;
        display: block;
      }
    }
  }
}
