<div id="interviewInfo">
<mat-card>
  <span style="float: left;">Interviewer: {{interview.interviewer}} </span>
  <span style="float: right;">Job: {{interview.jobName}} </span>
</mat-card>
<mat-card>
    <form [formGroup]="questionForm"  (ngSubmit)="save(questionForm)">
  <table border="1">
    <thead>
      <tr>
        <th>No.</th>
        <th>Question</th>
        <th colspan="4">Score</th>
        <th>Comment</th>

      </tr>
    </thead>
      <tbody formArrayName="questions">
    <tr *ngFor="let question of questionForm.controls.questions.controls; let i = index" [formGroupName]="i">
      <td>
        {{i+1}}
      </td>
      <td>
        {{questions[i].question}}
      </td>
      <td colspan="4"><mat-slider
        formControlName="point"
        max="10"
        min="0"
        step="0.5"
        thumbLabel>
    </mat-slider></td>
      <td>
        <input type="text" formControlName="comment">
      </td>
    </tr>
    </tbody>
    <tr ><td colspan="3">
      <label>Feedback</label>
      </td>
      <td colspan="4">
      <textarea formControlName="feedback"></textarea>
    </td>
  </tr>
    <tr ><td colspan="7">
      <button type="submit" mat-raised-button color="primary" style="width: 100%"  [disabled]="!questionForm.valid">Submit</button></td>
    </tr>
  </table>
  </form>
</mat-card>
</div>
<div id="candidateProfile">
  <app-candidate-profile [candidate]="candidate"></app-candidate-profile>
</div>
