.error{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 30%;
  background-color: #ccc;
  border-radius: 3px;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
}
